.App {
  text-align: left;
  font-family: Poppins;
  background-color: #0c111a;
}

.hero-section {
  background-image: url("./assets/images/background/Back.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-origin: 80px;
  background-attachment: fixed;
}

.layout {
  width: 70%;
  height: 100%;
}

.outlet {
  padding-top: 5rem;
  padding-bottom: 2rem;
  padding-left: 8rem;
  padding-right: 8rem;
}

section {
  margin: 0;
  padding: 20px;
  text-align: left;
  width: 100%;
}

.react-multiple-carousel__arrow::before {
  font-size: 20px;
  color: #562ebb !important;
  display: block;
  font-family: Poppins;
  text-align: center;
  z-index: 2;
  position: relative;
}

.react-multiple-carousel__arrow:hover {
  background: white !important;
}

.react-multiple-carousel__arrow {
  /* background: white !important; */
  backdrop-filter: blur(24px);
}

@media (max-width: 768px) {
  .outlet {
    padding-top: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  section {
    padding: 60px 0px;
    width: 100%;
    margin: 0;
  }
}

@font-face {
  font-family: Poppins;
  src: url("./assets/fonts/Lato-Regular.ttf");
  font-display: swap;
}

#toast-message {
  border-radius: 5px;
  background-color: #040720;
  border: 1px solid #562ebb;
  color: #fff;
}

.title-text {
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 36px;
  color: #562ebb;
  padding-bottom: 20px;
}

.primary-button {
  background: linear-gradient(
    90deg,
    rgba(35, 173, 227, 1) 0%,
    rgba(155, 113, 255, 1) 100%
  );
  border-radius: 12px;
  border: none;
  outline: none;
  padding: 10px 20px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  transition: all 0.3s ease-in-out;
}

.primary-button:hover {
  box-shadow: 0px 8px 8px #562ebb75;
}

/* Collection Tab*/
.collections-tab-group {
    padding-bottom: 20px;
    width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
  }

.collections-tab-group .collection-tab-active {
  background: #562ebb;
  cursor: pointer;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  padding: 8px 16px;
  margin-right: 10px;
  margin-bottom: 10px;
  border-radius: 12px;
  color: #ffffff;
  border: 2px solid #562ebb;
}

.collections-tab-group .collection-tab-non-active {
  cursor: pointer;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  padding: 8px 16px;
  margin-right: 10px;
  margin-bottom: 10px;
  border-radius: 12px;
  color: #562ebb;
  border: 2px solid #562ebb;
}

.collections-tab-group-light .collection-tab-non-active {
  background: transparent;
  cursor: pointer;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: rgba(0, 0, 0, 0.5);
  border: none;
  outline: none;
  width: 95%;
  padding-bottom: 20px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}

.collections-tab-group .collection-tab-non-active:hover {
  color: #562ebb;
}

.user-card {
  background: rgba(18, 26, 35, 0.2);
  backdrop-filter: blur(24px);
  border-radius: 16px;
  border: 0.5px solid rgba(168, 168, 168, 0.2);
  box-shadow: 0px 4px 4px #562ebb50;
}

.user-card:hover {
  box-shadow: 0px 8px 8px #562ebb50;
}
