.App {
  text-align: left;
  font-family: Poppins;
  background-color: #0c111a;
}

.hero-section {
  background-image: url("./assets/images/background/Back.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-origin: 80px;
  background-attachment: fixed;
}

.layout {
  width: 70%;
  height: 100%;
}

.outlet {
  padding-top: 5rem;
  padding-bottom: 2rem;
  padding-left: 8rem;
  padding-right: 8rem;
}

section {
  margin: 0;
  padding: 20px;
  text-align: left;
  width: 100%;
}

.react-multiple-carousel__arrow::before {
  font-size: 20px;
  color: #562ebb !important;
  display: block;
  font-family: Poppins;
  text-align: center;
  z-index: 2;
  position: relative;
}

.react-multiple-carousel__arrow:hover {
  background: white !important;
}

.react-multiple-carousel__arrow {
  /* background: white !important; */
  backdrop-filter: blur(24px);
}

.primary-button {
  background: linear-gradient(
    90deg,
    rgba(35, 173, 227, 1) 0%,
    rgba(155, 113, 255, 1) 100%
  );
  border-radius: 12px;
  border: none;
  outline: none;
  padding: 10px 20px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  transition: all 0.3s ease-in-out;
}

.primary-button:hover {
  box-shadow: 0px 8px 8px #562ebb75;
}

@media (max-width: 768px) {
  .outlet {
    padding-top: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  section {
    padding: 60px 0px;
    width: 100%;
    margin: 0;
  }

  .primary-button {
    background: linear-gradient(
      90deg,
      rgba(35, 173, 227, 1) 0%,
      rgba(155, 113, 255, 1) 100%
    );
    border-radius: 12px;
    border: none;
    outline: none;
    padding: 8px 16px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 18px;
    color: #ffffff;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    transition: all 0.3s ease-in-out;
  }
}

@font-face {
  font-family: Poppins;
  src: url("./assets/fonts/Lato-Regular.ttf");
  font-display: swap;
}

#toast-message {
  border-radius: 5px;
  background-color: #040720;
  border: 1px solid #562ebb;
  color: #fff;
}

.title-text {
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 36px;
  color: #562ebb;
  padding-bottom: 20px;
}

/* Collection Tab*/
.collections-tab-group {
  padding-bottom: 20px;
  width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
}

.collections-tab-group .collection-tab-active {
  background: #562ebb;
  cursor: pointer;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  padding: 8px 16px;
  margin-right: 10px;
  margin-bottom: 10px;
  border-radius: 12px;
  color: #ffffff;
  border: 2px solid #562ebb;
}

.collections-tab-group .collection-tab-non-active {
  cursor: pointer;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  padding: 8px 16px;
  margin-right: 10px;
  margin-bottom: 10px;
  border-radius: 12px;
  color: #562ebb;
  border: 2px solid #562ebb;
}

.collections-tab-group-light .collection-tab-non-active {
  background: transparent;
  cursor: pointer;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: rgba(0, 0, 0, 0.5);
  border: none;
  outline: none;
  width: 95%;
  padding-bottom: 20px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}

.collections-tab-group .collection-tab-non-active:hover {
  color: #562ebb;
}

.user-card {
  background: rgba(18, 26, 35, 0.2);
  backdrop-filter: blur(24px);
  border-radius: 16px;
  border: 0.5px solid rgba(168, 168, 168, 0.2);
  box-shadow: 0px 4px 4px #562ebb50;
}

.user-card:hover {
  box-shadow: 0px 8px 8px #562ebb50;
}

/* Footer */

.footer {
  background: transparent;
  /* padding: 2.5rem 120px; */
}

.footer-body {
  max-width: 1800px;
  margin-left: auto;
  margin-right: auto;
}

.footer-description-column {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.footer-image {
  width: 200px;
}

.footer-title {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 33px;
}

.footer-subtitle {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
}

.footer-link-header {
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 52px;
  text-transform: uppercase;
}

.footer-links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.footer-link {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 28px;
}

.footer-link:hover {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 28px;
  color: #21f2ff;
}

.copyrights {
  font-family: Poppins;
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 28px;
  letter-spacing: 0.01em;
}

.icons-copyright {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

@media only screen and (max-width: 820px) {
  .footer {
    background: transparent;
    padding: 2.5rem 20px;
  }

  .footer-body {
    padding: 0rem 2.5rem;
  }

  .footer-column {
    display: flex;
    flex-direction: column;
  }

  .footer-description-column {
    display: flex;
    flex-direction: column;
  }

  .footer-link-header {
    font-size: 14px;
    line-height: 28px;
  }

  .footer-links {
    width: 100%;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .footer-link:hover {
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 28px;
    color: #21f2ff;
  }

  .footer-link {
    font-size: 12px;
    line-height: 28px;
  }

  .footer-icons-set {
    display: flex;
    justify-content: flex-start;
  }
}

@media only screen and (max-width: 480px) {
  .footer-body {
    padding: 0rem 1rem;
  }

  .footer-description-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .footer-links {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 10px;
  }

  .icons-copyright {
    display: flex;
    flex-direction: column;
  }

  .footer-title {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
  }

  .footer-subtitle {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
  }

  .footer-icons-set {
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
  }
}

